* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 1% auto;
    align-items: center;
}

.container {
    width: 100%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 3%;
}

.item-row {
    margin-bottom: 2%;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

#add-item-heading {
    margin-bottom: 2%;
}

#add-item {
    background-color: darkgray;
    border-color: dimgrey;
    width: 100px;
    height: 30px;
}

#add-item:hover {
    background-color: rgb(145, 148, 150);
}

#adding-item {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#display-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    flex-wrap: wrap;
}

#display-items ul {
    list-style-type: none;
}

.item{
    padding-right: 3%;
}

.button {
    margin-top: 4%;
    border-radius: 4px;
    color: rgb(42, 40, 40);
}

.button-item {
    width: 70%;
    height: 20px;
    background-color: rgb(211, 90, 90);
    border-color: rgb(155, 68, 68);
    color: black;
}

.button-item:hover {
    background-color: rgb(226, 121, 121);
}
